section.filters {
  background-color: white;
  height: 70px;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 4px;
  display: flex;
}
section.filters button {
  font-size: 18px;
  background-color: #ff5a5f;
  color: #ffffff;
  height: 48px;
  width: 20%;
  border: 0;
  border-radius: 4px;
  margin: auto 30px;
}
section.filters button:hover {
  opacity: 90%;
}
section.filters div.locations,
section.filters div.amenities {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
section.filters div.locations {
  border-right: 1px solid #dddddd;
}

section.filters div.amenities {
  margin-right: auto;
}
div.locations h3,
div.amenities h3 {
  font-weight: 600;
  margin-bottom: 0px;
  margin-left: 50px;
}
div.locations h4,
div.amenities h4 {
  font-weight: 400;
  font-size: 14px;
  margin: 4px auto;
  margin-left: 50px;
  margin-bottom: 16px;
}
ul.popover {
  list-style: none;
  border: 1px solid #dddddd;
  border-radius: 4px;
  background-color: #fafafa;
  margin-top: 0;
  padding-left: 0;
  padding-bottom: 20px;
  padding-top: 20px;
}

div.locations ul,
div.amenities ul {
  display: none;
}
section.filters div.locations:hover > ul,
section.filters div.amenities:hover > ul {
  display: block;
  z-index: 1;
}
section.filters div.locations,
section.filters div.amenities {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
}
div.locations ul.popover h2 {
  font-size: 16px;
  margin-top: 15px;
  position: relative;
  left: 30px
}
div.locations ul.popover li {
  display: flex;
  position: relative;
  left: 50px;
  top: -15px;
  padding-left: -80px;
}
div.amenities ul.popover li {
  display: flex;
  position: relative;
  left: 50px
}

/* Media querie */
@media (max-width: 705px) {
  .locations ul.popover {
    margin-top: -17px;
  }
}
@media (max-width: 707px) {
  .amenities ul.popover {
    margin-top: 0;
  }
  
}
@media (max-width: 654px) {
  .amenities ul.popover {
    margin-top: -17px;
  }
}
